<ion-card>
  <ion-card-header>
    <ion-avatar class="avatar">
      <img alt="Avatar image" src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </ion-avatar>
  </ion-card-header>

  <ion-card-content>
    <ion-card-title>Name</ion-card-title>
    <ion-card-content>{{ author?.name }}</ion-card-content>
    <ion-card-title>Surname</ion-card-title>
    <ion-card-content>{{ author?.surname }}</ion-card-content>
    <ion-card-title>Github Account</ion-card-title>
    <ion-card-content>{{ author?.account }}</ion-card-content>
  </ion-card-content>
</ion-card>