<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content" swipeGesture="false" type="overlay">
  <div class="cont">
    <ion-button class="button-menu" (click)="about()" [ngClass]="{'active-button': currentPage === 'about'}"  fill="clear">
      <p>About</p>
    </ion-button>
    <ion-button class="button-menu" (click)="home()" [ngClass]="{'active-button': currentPage === 'home'}" fill="clear">
      <p>Home</p>
    </ion-button>
    <ion-button class="button-menu" (click)="players()" [ngClass]="{'active-button': currentPage === 'players'}" fill="clear">
      <p>Players</p>
    </ion-button>
  </div>
</ion-menu>
