<ion-content class="ion-padding">
    <div class="margin-custom">
        <div>
            <div class="center">
                <ion-button slot="end" fill="" (click)="addPlayer()">
                    <ion-icon name="add-circle-outline"></ion-icon>
                </ion-button>
            </div>
            <div class="cont">
                <app-players-info
                 *ngFor="let player of players.players$ | async" 
                 [player]="player"
                 [routerLink]="['/players-about', player.id]"
                 >
                </app-players-info>
            </div>
        </div>
    </div>
</ion-content>